asgiref==3.3.0
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
chardet==4.0.0
colorzero==1.1
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
cssutils==1.0.2
daphne==3.0.2
Django==3.1.3
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gpiozero==1.5.1
httplib2==0.18.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
lxml==4.6.2
oauthlib==3.1.0
premailer==3.7.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pytz==2020.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
uritemplate==3.0.1
urllib3==1.26.2
whitenoise==5.2.0
yagmail==0.14.245
zope.interface==5.4.0
